{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on Based Reviews{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on Based Reviews.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Based Reviews team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on Based Reviews.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="https://basedreviews.info/{{ url|safe }}">Activation Link</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Based Reviews team{% endblocktrans %}</p>

{% endblock html_body %}
